@charset "utf-8";
/* CSS Document */
body,header,footer,div,h1,ul,li,a,img,p,h2,dl,dt,dd,
input { margin:0; padding:0; border:0; outline:0; }
body { font-size:12px;}
a { text-decoration:none; color:#000; }
.l { float:left; }
.r { float:right; }
.c { clear:both; height:0; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
ul,
li { list-style-type:none; }
.music{
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 160px;
    left: 50%;
    margin-left: -285px;
    margin-top: -120px;
    padding: 40px 35px;
    position: fixed;
    top: 50%;
    width: 500px;	
	}
.audio{
	position:relative;
	}
.audio .audio-img{
	width:150px;
	height:150px;
	position:absolute;
	top:0;
	left:0;
	}	
.audio .audio-img img{
	width:150px; 
	height:150px; 
	border-radius:75px;
	-moz-border-radius:75px; 
	display:block;
	position:relative;
	z-index:1;
	}	
.audio .audio-img span.audio-imgbtn{
	display:block;
	background:#000;
	position:absolute;
	width:32px;
	height:32px;
	z-index:2;
	background:url(../images/music_btn.png) no-repeat -24px -4px;
	text-indent:-999px;
	top:58px;
	left:58px;
	cursor:pointer;
	}
.audio .audio-img span.imgbtn-on{
	background:url(../images/music_btn.png) no-repeat -65px -4px;
	}		
.audio .audio-img span.imgbtn-off{
	background:url(../images/music_btn.png) no-repeat -24px -4px;
	}	

.sound{
	width:16px;
	height:12px;
	position:absolute;
	top:68px;
	left:473px;
	cursor:pointer;
    }
.sound-on{
	background:url(../images/music_btn.png) no-repeat -1px -184px;
	}	
.sound-off{
	background:url(../images/music_btn.png) no-repeat -29px -184px;
	}		
.sound-Control{
	width:9px;
	height:50px;
	position:absolute;
	display:none;
	top:12px;
	left:475px;
	text-align:center;
	}
.sound-Control .sound-line{
	width:3px;
	height:50px;
	background:#FFF;
	margin:0 0 0 3px;
	}
.sound-Control span.sound-slide{
	width:9px;
	height:3px;
	background:#FFF;
	display:block;
	position:relative;
	cursor:pointer;
	top:-50px;
	left:0;
	}			

			
.audio .audio-title{
	height:30px;
	line-height:30px;
	position:absolute;
	top:20px;
	left:170px;
	}	
.audio .audio-title p{
	display:inline-block;
	font-size:28px;
	color:#FFF;
	font-weight:500;
	margin:0 5px 0 0;
	}
.audio .audio-title span{
	font-size:14px;
	color:#FFF;
	}		
.audio .audio-line{
	width:250px;
	height:2px;
	position:absolute;
	background:rgba(255,255,255,0.3);
	top:73px;
	left:170px;
	}
.audio .audio-line .line-on{
	width:0;
	height:2px;
	background:#0F6;
	position:relative;
	top:0;
	left:0;
	}
.audio .audio-time{
	position:absolute;
	top:64px;
	left:425px;
	font-size:14px;
	color:#FFF;
	}
.audio .audio-btn{
	width:30px;
	height:30px;
	text-indent:-9999px;
	position:absolute;
	top:95px;
	cursor:pointer;
	}	
.audio .audio-up{
	left:170px;
	background:url(../images/music_btn.png) no-repeat -220px -112px;
	}				
.audio .audio-play{
	left:210px;
	background:url(../images/music_btn.png) no-repeat -3px -112px;
	}
.audio .btn-off{
	background:url(../images/music_btn.png) no-repeat -3px -112px;
	}
.audio .btn-on{
	background:url(../images/music_btn.png) no-repeat -147px -112px;
	}		
.audio .audio-next{
	left:250px;
	background:url(../images/music_btn.png) no-repeat -111px -112px;
	}	

.menuright{
	position:fixed;
	top:0;
	right:0;
    background-color: #222629;
    box-shadow: -5px 0 2px rgba(0, 0, 0, 0.1);
    height: 100%;
    text-align: center;
    width: 100px;
	padding-top:40px;
	}
.menuright dl dt{
	margin-bottom:40px;
	}
.menuright dl dt p.userphoto{
	margin-bottom:5px;}
.menuright dl dt p.userphoto img{
	width:56px;
	height:56px;
	border-radius:28px; 
	}
.menuright dl dt p.usertext{
	color:#FFF;
	font-size:12px;
	}		
.menuright dl dd{
	width:100%;
	padding:12px 0;
	color:#fff;
	cursor:pointer;
	}
.menuright .qq{
	width:100px;
	height:120px;
	text-align:center;
	background:#191c1f;
	position:fixed;
	right:0;
	bottom:0;
	}
.menuright .qq img{
	margin:40px 0 0 0;
	cursor:pointer;
	}		